# Premier league interim data preparation

In [37]:

import sys
import os
import pandas as pd

# Add the project root to the Python path
project_root = os.path.abspath(os.path.join(os.getcwd(), '..'))
if project_root not in sys.path:
    sys.path.append(project_root)
    
from football_predictions.data.tools import convert_date as cd

In [25]:
# Load the data
pl_combined_df = pd.read_csv('../data/raw/premier_league/premier_league_combined.csv')
pl_combined_df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,E0,21/05/17,NaN,Liverpool,Middlesbrough,3,0,H,1,0,...,2.73,18.0,-2.50,2.02,1.97,1.95,1.90,1.11,8.50,23.00
3036,E0,21/05/17,NaN,Man United,Crystal Palace,2,0,H,2,0,...,1.81,19.0,-0.25,2.19,2.11,1.85,1.79,2.60,3.25,2.70
3037,E0,21/05/17,NaN,Southampton,Stoke,0,1,A,0,0,...,2.01,18.0,-0.75,2.03,1.98,1.93,1.88,1.73,3.70,4.40
3038,E0,21/05/17,NaN,Swansea,West Brom,2,1,H,0,1,...,1.98,19.0,-0.50,2.11,2.06,1.86,1.82,2.00,3.30,3.80
3039,E0,21/05/17,NaN,Watford,Man City,0,5,A,0,4,...,2.80,18.0,1.75,1.99,1.94,2.00,1.93,12.00,5.50,1.22

In [38]:
# Convert the date column to common format
pl_combined_df['Date'] = pl_combined_df['Date'].apply(cd.convert_date)
pl_combined_df

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,BbAv<2.5,BbAH,BbAHh,BbMxAHH,BbAvAHH,BbMxAHA,BbAvAHA,LBH,LBD,LBA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3035,E0,21/05/2017,NaN,Liverpool,Middlesbrough,3,0,H,1,0,...,2.73,18.0,-2.50,2.02,1.97,1.95,1.90,1.11,8.50,23.00
3036,E0,21/05/2017,NaN,Man United,Crystal Palace,2,0,H,2,0,...,1.81,19.0,-0.25,2.19,2.11,1.85,1.79,2.60,3.25,2.70
3037,E0,21/05/2017,NaN,Southampton,Stoke,0,1,A,0,0,...,2.01,18.0,-0.75,2.03,1.98,1.93,1.88,1.73,3.70,4.40
3038,E0,21/05/2017,NaN,Swansea,West Brom,2,1,H,0,1,...,1.98,19.0,-0.50,2.11,2.06,1.86,1.82,2.00,3.30,3.80
3039,E0,21/05/2017,NaN,Watford,Man City,0,5,A,0,4,...,2.80,18.0,1.75,1.99,1.94,2.00,1.93,12.00,5.50,1.22